<p id="notice"><%= notice %></p>

<h1>Artworks</h1>


<div>
  <h2>Search by Keywords</h2>
  <% Keyword.all.each do |keyword| %>
    <%= link_to keyword.name, search_path(t: keyword.name) %>
  <% end %>
</div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Artist</th>
      <th>Completed at</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @artworks.each do |artwork| %>
      <tr>
        <td><%= artwork.name %></td>
        <td><%= artwork.artist.name %></td>
        <td><%= artwork.completed_at %></td>
        <td><span class="artwork-status"><%= artwork.status %></span> <%= link_to "-", artwork_downgrade_path(artwork), method: :patch, remote: true, class: "artwork-status-change" %> <%= link_to "+", artwork_upgrade_path(artwork), method: :patch, remote: true, class: "artwork-status-change" %></td>
        <td><%= link_to 'Show', artwork %></td>
        <td><%= link_to 'Edit', edit_artwork_path(artwork) %></td>
        <td><%= link_to 'Destroy', artwork, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Artwork', new_artwork_path %>
